$dark-nav-color: #2C3840;
//
//  Custom Colors needed for this Theme
//  --------------------------------------


//   1. Digitalmobil Colors:
$dm-blue: #008099;
$dm-gray: #3C3C3B;
$dm-slate-gray: #413f48;
$dm-cream-yellow: #f9da6e;
