//
// Style for the index.php
//
#page-container {
  margin: rem-calc(-10) auto;
  padding-top: rem-calc(90); // Size of Nav-Bar (80px) + negative margin of this container 
  box-shadow: 0 0 rem-calc(25) 0 $dm-gray;
}

.main-container{
  margin: auto;
}

.main-grid {
  margin: auto;
  padding-top: 3rem;

  .main-content{
    margin: 0;
  }
  .main-sidebar{
    margin: 0;
  }
  
  /* .sidebar{
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(large) {
      @include xy-cell(4);
      margin-top: 1rem;
    }
  } */
/* 
  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(large) {
      @include xy-cell(8);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(large) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

  } */
}
