.cell {
  margin: auto;
}
.footer-container {
  margin: rem-calc(60) 0 0;
  .footer {
    @include xy-grid;
    background-color: $light-gray;
    border-top: 2px solid $medium-gray;
    margin-bottom: 1rem;
    padding: 3rem 0 0.5rem;
    .widget-container{
      @include xy-cell(10);
      margin: auto;
      @include breakpoint(medium){
        @include xy-cell(8);
        margin: auto;
      }
      .footer-grid {
        @include xy-grid;
        @include xy-grid-layout(1, ".widget");
        @include breakpoint(medium) {
          @include xy-grid-layout(2, ".widget", null, 1rem, padding);
        }
        .cell {
          padding: 0rem;
          margin: 0 0 2rem;
          h6 {
            font-size: 120%;
          }
          .textwidget {
            font-weight: 300;
            font-size: 110%;
          }
        }
      }
    }
    
    .footer-menu {
      @include xy-cell;
      margin: 0;
      font-weight: bold;
      .column {
        padding: 0rem;
        padding-bottom: 1rem;
      }
      li {
        padding-right: 1.5rem;
      }
      a {
        padding: 0rem;
      }
      a:hover {
        opacity: 0.6;
      }
      .is-active {
        a {
          background-color: transparent;
          color: $dm-blue;
        }
      }
    }
  }
  .footer-bottom {
    @include xy-cell(10);
    margin: auto;
    @include breakpoint(medium){
      @include xy-cell(8);
      margin: auto;
    }   
    background-color: white;
    line-height: 3rem;
    div {
      vertical-align: middle;
    }
    .footer-info {
      color: $dm-slate-gray;
      font-weight: 300;
      text-align: center;
      margin-bottom: 2rem;
      @include breakpoint(medium) {
        color: $dm-slate-gray;
        font-weight: 300;
        float: left;
        margin-bottom: 0rem;
      }
    }
    .social-media-horizontal {
      ul {
        list-style: none;
        margin: 0rem;
        text-align: center;
        li {
          display: inline;
          margin-right: 1rem;
          svg {
            width: 30px;
            height: 30px;
            path {
              fill: $dm-blue;
            }
          }
        }
      }
      @include breakpoint(medium) {
        float: right;
        ul {
          list-style: none;
          margin-bottom: 0rem;
          li {
            margin-left: 1rem;
            display: inline;
            svg {
              width: 30px;
              height: 30px;
              path {
                fill: $dm-blue;
              }
            }
          }
        }
      }
    }
  }
}

