.footer-container {
  margin: rem-calc(60) 0 0;
  background-color: $light-gray;
  border-top: rem-calc(2) solid $medium-gray;
}

//  Footer Contact Area TOP
.footer-t {
  margin: auto;
  padding: 4rem 0;
  .contact {
    padding: 0 0 1rem 0;
  }
  .widget_text {
    margin-bottom: 2rem;
  }
  h6 {
    font-size: 120%;
  }
  .textwidget {
    font-weight: 300;
    font-size: 110%;
  }
}

//  Footer Navigation
.footer-nav {
  margin: 0;
  font-weight: bold;
  ul {
    li {
      padding-right: 1.5rem;
    }
    a {
      padding: 0rem;
      font-size: 120%;
    }
    a:hover {
      opacity: 0.6;
    }
    .is-active {
      a {
        background-color: transparent;
        color: $dm-blue;
      }
    }
  }
}

//  Footer Social Box BOTTOM
.footer-b {
  margin: auto;
  padding: 0.5rem 0;
  background-color: white;
  line-height: 3rem;
  .social-b {
    margin: auto;
  }
}

//  Footer bottom Copyright styling
.footer-info {
  color: $dm-slate-gray;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
  @include breakpoint(medium) {
    float: left;
    margin-bottom: 0rem;
  }
}

//  Social Media Icons styling
.social-media-horizontal {
  ul {
    list-style: none;
    margin: 0rem;
    text-align: center;
    li {
      display: inline;
      margin-right: 1rem;
      svg {
        width: rem-calc(30);
        height: rem-calc(30);
        path {
          fill: $dm-blue;
        }
      }
    }
  }
  @include breakpoint(medium) {
    float: right;
    ul {
      list-style: none;
      margin-bottom: 0rem;
      li {
        margin-left: 1rem;
        display: inline;
        svg {
          width: rem-calc(30);
          height: rem-calc(30);
          path {
            fill: $dm-blue;
          }
        }
      }
    }
  }
}
