.footer-container {
  background-color: $light-gray;
  border-top: rem-calc(2) solid $medium-gray;
}


//  Footer Contact Area TOP
//  ------------------------------------------------------------------------------------------------
.footer-t {
  padding: 4rem 0;
}
//  ------
//  Widget
.widget_text {
  margin-bottom: 2rem;
  h6 {
    font-size: 120%;
  }
  .textwidget {
    font-weight: 300;
    font-size: 110%;
  }
}
//  -----------------
//  Footer Navigation
.footer-nav {
  font-weight: bold;
  ul {
    li {
      padding-right: 1.5rem;
      a {
        padding: 0rem;
        font-size: 120%;
      }
      a:hover {
        opacity: 0.6;
      }
      .is-active {
        a {
          background-color: transparent;
          color: $dm-blue;
        }
      }
    }
  }
}


//  Footer Social Box BOTTOM
//  ------------------------------------------------------------------------------------------------
.footer-b {
  padding: 1rem 0;
  background-color: white;
  line-height: 3rem;

  @include breakpoint(medium){
    padding: 0.5rem 0;
  }

  .social-b {
    margin: auto;

    @include breakpoint(medium) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
//  -------------------------------
//  Footer bottom Copyright styling
.footer-info {
  color: $dm-slate-gray;
  font-weight: 300;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;

  @include breakpoint(medium) {
    margin-bottom: 0rem;
    order: 1;
  }
}
//  -------------------------------
//  Social Media Horizontal styling
.social-media-horizontal {
  height: rem-calc(30);
  display: flex;
  justify-content: center;

  @include breakpoint(medium) {
      order: 2;
    }

  ul {
    list-style: none;
    margin: 0rem;
    li {
      margin-right: 1rem;
      display: inline-block;
      max-width: rem-calc(30);
      max-height: rem-calc(30);
    }
  }  
}
//  ------------------
//  Social Media Icons
.icon {
  display: inline-block;
  max-width: rem-calc(30);
  max-height: rem-calc(30);
  svg {
    max-width: rem-calc(30);
    max-height: rem-calc(30);
    path {
      fill: $dm-blue;
    }
  }
}