// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}
//
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}

//
//  Custom area
//  --------------------------------------

.site-navigation {
  &.top-bar {
    ul {
      background-color: white;
    }
    background-color: white;
  }
}
.site-navigation {
  #menu-header-menue {
    .home-button {
      a {
        color: $dm-blue;
      }
    }
    a {
      font-family: "Montserrat";
      color: $dm-gray;
    }
    a:hover {
      opacity: 0.6;
    }
  }
}
.logo {
  padding-left: 40px;
  width: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
}