// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}
//
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}


// Style for Mobile Navigation Menu
//  ------------------------------------------------------------------------------------------------
.site-header {
  position: fixed;
  top: 0rem;
  height: rem-calc(80);
  z-index: 999;
  background-color: $white;
}
//  Mobile Logo and Menu-Icon Container
//  -----------------------------------
.site-title-bar {
  margin: 1rem auto;
  .title-bar-left {
    margin: auto;
  }
  padding: 0;
  height: rem-calc(50);
  background-color: $white;
  
}
//  Mobile Menu Icon Styleing
//  -------------------------
.mobile-menu-icon {
  float: right;
  &:before {
    font-family: "dashicons";
    content: "\f333";
    color: $dm-blue;
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    font-size: rem-calc(32);
    cursor: pointer;
    z-index: 1000;
  }
}
//  Mobile Menu Logo Styling
//  ------------------------
.logo {
  width: $logo-width-large;
}
//  Expandet Menu Style
//  -------------------
.site-navigation {
  margin-top: rem-calc(-2);
  background-color: $white;
  ul {
    background-color: $white;
  }
}
//  Toggle Button for expanded Menu
//  -------------------------------
.mobile-menu{
  .submenu-toggle{
    background-color: $white;
    &:after{
      border-color: $dm-blue transparent transparent;
    }
  }
}


// Desktop Navigation Style
//  ------------------------------------------------------------------------------------------------
@include breakpoint(medium) {

  .site-header {
    height: rem-calc(80);
    background-color: transparent;
    .site-navigation {
      transition: 0.4s;
      &.scrolled-down {
        padding: 0rem 0;
      }
    }
  }
  // Desktop Menu Logo (left container)
  // ---------------------------------
  #logo-desktop{
    padding-left: 2rem;
    transition: 0.4s;
    width: $logo-width-large;
    &.scrolled-down {
      width: $logo-width-small;
    }
  }
  .logo{
    width: 100%;    // Defines logo-image width
    height: auto;
  }
  // Desktop Menu Navigation right container
  // ---------------------------------------
  #menu-header-menue {
    .home-button {
      a {
        color: $dm-blue;
      }
    }
    a {
      font-family: "Montserrat";
      color: $dm-gray;
    }
    a:hover {
      opacity: 0.6;
    }
  }


}