// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}
//
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}

//
//  Custom area
//  --------------------------------------
.site-header {
  position: sticky;
  top: 0rem;
  width: 100%;
  z-index: 999;
  .site-navigation {
    transition: 0.4s;
    padding: 0.5rem 0;
    margin: 0 2rem;
    &.scrolled-up{
      padding: 0.5rem 0;
    }
    &.scrolled-down{
      padding: 0rem 0;
    }
    background-color: white;
    ul {
      background-color: white;
    }
    #menu-header-menue {
      .home-button {
        a {
          color: $dm-blue;
        }
      }
      a {
        font-family: "Montserrat";
        color: $dm-gray;
      }
      a:hover {
        opacity: 0.6;
      }
    }
    #logo-desktop{
      padding-left: 2rem;
      width: 30%;
      transition: 0.4s;
      &.scrolled-up{
        width: 35%;
      }
      &.scrolled-down{
        width: 25%;
      }
    }
  }
}
