//
//  The overwirtten styles for the Digitalmobil-Internship-Theme can be found here
//
//  ------------------------------------------------------------------------------
//
//  Table of Contents:
//
//   1. General
//   2. Header Menu


//  1. General

#page-container {
  max-width: 80%;
  margin: auto;
  background-color: $main-background-color;
}


//  2. Header Menu

.site-navigation.top-bar {
  ul {
    background-color: white;
  }
  background-color: white;
}
.site-navigation {
  #menu-header-menue {
    .menu-item-197 {
      a {
        color: $dm-blue;
      }
    }
    a {
      font-family: $headlines-font-family;
      font-weight: $headlines-font-weight;
      color: $dm-gray;
    }
    a:hover{
      opacity: 0.8;
    }
  }
}
.logo {
  padding-left: 40px;
  width: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.dropdown.menu {
  li.is-dropdown-submenu-parent {
    a::after {
      border-color: $dm-blue transparent transparent;
    }
  }
}


