//
//  Custom Variables needed for this Theme
//  --------------------------------------
//
//  Table of Contents:
//
//   1. Digitalmobil Colors
//   2. Digitalmobil Fonts
//   3. Background

@import "../settings";

//  The import of the local files didn't work. Decided to import the fonts from Google instead. 
/*
@import '../../mixins';
@include font-face(Montserrat, fonts/Montserrat/Montserrat, 600, normal, ttf);
@include font-face(Lato-regular, fonts/Lato/Lato-Regular);
@include font-face(Lato-light, fonts/Lato/Lato-Light);
@include font-face(Lato-bold, fonts/Lato/Lato-Bold);
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:600&display=swap');


//   1. Digitalmobil Colors

$dm-blue: #008099;
$dm-gray: #3C3C3B;
$dm-slate-gray: #413f48;
$dm-cream-yellow: #f9da6e;


//   2. Digitalmobil Fonts

$headlines-font-family: 'Montserrat', sans-serif;
$copy-text-font-family: 'Lato', sans-serif;
$copy-text-font-weight: 400;
$hightlighted-copy-text-font-family: 'Lato', sans-serif;
$hightlighted-copy-text-font-weight: 700;
$info-text-font-family: 'Lato', sans-serif;
$info-text-font-weight: 300;


//   3. Background
$main-background-color: $white;